        /* Add a flexbox container for two columns */
        .capacity-container {
            display: flex;
            margin-bottom: 30px;
        }

        .capacity-container .left-column {
            width: 30%;
            padding-right: 30px;
        }

        .capacity-container .right-column {
            width: 70%;
        }

        .attaque {
            width: 100%;
            height: 100%;
        }

        img.first {
            max-width: 100%;
        }

        