table, th.début {
    border: 1px solid purple;
    font-size: 150%;
    color: black;
    text-align: center;
    margin: 0 auto;
}
table, td, tr.fin {
    border: 1px solid purple;
    font-size: 125%;
}

/* Style pour les éléments ayant la classe "spécialité" (condition pour activer une capacité) */
p.spécialité {
    color: red;
    text-align: left;
}

/* Style pour les liens */
a {
    color: black;
}

/* Style pour les éléments <u> ayant la classe "ulti" (principalement les utli de GL)*/
u.ulti {
    color: orange;
}

/* Style pour les liens ayant la classe "capacite" => faction pour chaque personnage*/
a.capacite {
    color: black;
}

/* Style pour les liens ayant la classe "class" => classe de chaque unité (tank, soutien, attaquant, soigneur */
a.class {
    color: lime;
}

/* Style pour les liens ayant la classe "pilote" => appel à la faction membre équipages ou vaisseau*/
a.pilote {
    color: white;
}

/* apprait dans les pages de recherches et affiches les liens en rose */
a.recherche{
    color: pink;
    font-size: 120%;
    text-align: left;
}

/* Style pour le corps de la page avec la classe "simple" => dans les pages recherches */
body.simple {
    background-color: black;
}

/* fond d'écrand de la page d'accueil index.html */
body.accueil  {
    background-image: url('../image/swgoh.mp4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Répartir l'image sur toute la surface du body */
    background-attachment: fixed; /* Fixer l'image de fond */
    width: 100%;
    height: 100%;
}

/* couleur fond d'écran des pages de classe attaquant, soutien, soigneur et tanks*/
body.classe {
    background-color: skyblue;
}

/* couleur fond d'écran des pages de faction */
body.faction {
    background-color:black
}

/* fond d'écran des pages chefs et membre équipages */
body.gris {
    background-color: gray;
}

/* fond d'écran de la page coté lumineux */
body.lumineux {
    background-color:cyan;
}

/* fond d'écran de la page coté neutre */
body.neutre {
    background-color: violet;
}

/* fond d'écran de la page coté obscur */
body.obscur {
    background-color: red;
}

/* fond d'écran de la page des légendes galactiques */
body.galactique {
    background-color:black
    ;
}

/* Styles pour les titres de différentes tailles */
h1,h2,h3,h4,h5,h6 {
    background-position: center;
    color: white;
    font-size: 200%;
    text-align: center;
}

/* Style spécifique pour les titres ayant la classe "tag" */
h1.tag {
    background-position: center;
    color: black;
    font-size: 200%;
    text-align: center;
}

/* Style spécifique pour les titres H1 ayant la classe CGU*/
h1.CGU {
    background-position: center;
    color: purple;
    font-size: 200%;
    text-align: center;
}

/* nom des capacité de chaque unité */
h2.titre{
    text-align: left;
    color:rgb(178, 42, 130);
    font-size: 300%;
}

/* nom du vaisseau lié à chaque pilote */
h2.vaisseaux{
    color: brown;
    font-size: 200%;
    text-align: left;
}

/* style pour l'appel de la capacité renfort du vaisseau amiral */
h2.renfort{
    color: yellow;
    text-align: left;
    font-size: 200%;
}

/* style de U pour les renforts de vaisseau amiral */
u.renfort{
    color: orange;
    font-size: 150%;
}

/* Styles pour les titres ayant les classes "invocation" */
h2.invocation {
    color: yellow;
    text-align: left;
    font-size: 200%;
}

/* styles pour les titres ayant les classes "primes" (chasseur de primes) */ 
h2.prime {
    color: cyan;
    text-align: left;
}

/* Style pour l'en-tête avec la classe "perso" (lié aux personnages) */
header.perso {
    background-color: orchid;
    background-position: center;
    text-align: center;
    font-size: 100%;
}

/* Styles pour la navigation avec la classe "perso" (navigation entre les faction spécifiques à une unité) */
nav.perso {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    font-weight: bold;
}


/* Style pour l'en-tête avec la classe "filtre" (page filtre personnage et page filtre vaisseaux) */
header.filtre {
    background-color: white;
    background-position: center;
    text-align: center;
    font-size: 200%;
}

/* Styles pour les images de retour au menu */
IMG.position { 
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

/* pour les primes de chasseur de primes ou les capacités accordés */
img.capacité {
    width: 25%;
    height: 25%;   
}

/* styles pour les images de capacité */
img.attaque{
    width: 180px;
    height: 180px;   
}

/* image des invocations */
img.invocation {
    width: 25%;
    height: 25%; 
}

/* image capacité des vaisseaux */
img.crew{
    width: 25%;
    height: 25%;
}


/* style d'image pour chaque perso (image principale) */
img.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

/* Style pour les éléments de liste */
li {
    color: black;
    font-size: 150%;
}

/* Styles pour les tables et leurs éléments */
table, th.début {
    border:1px solid grey;
    font-size:150%;
    color:white;
    text-align: center;
}

table, td, tr.fin {
    border:1px solid orchid;
    font-size:125%;
}

/* Style pour les éléments <div> */
div {
    text-align: center;
}

/* Style pour les paragraphes */
p {
    color: white;
    text-align: center;
    font-size: 150%;
}

/* style générale pour les définitions des attaques de personnages */
p.attaque{
    color: white;
    text-align: left;
    font-size: 120%;
}

/* Style pour les éléments <u> ayant la classe "speciale" ( spécification dans le kit d'une unité)*/
u.speciale {
    color: yellow;
    font-size: 120%;
}

/* Style pour les éléments <u> ayant la classe "omicron" (si omicron pour une unité)*/
u.omicron {
    color:green;
    font-size: 150%;
}

/* Style pour les vidéos ayant la classe "debut" */
video.debut {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style pour le bouton de retour en haut de page */
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#scrollBtn:hover {
    background-color: #0056b3;
}

/* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 768px) {
    table {
        font-size: 12px; /* Réduire la taille de la police */
    }
}

/* Media query pour les petits écrans */
@media only screen and (max-width: 480px) {
    table {
        font-size: 10px; /* Réduire davantage la taille de la police */
    }
    /* Vous pouvez ajouter d'autres styles pour les petits écrans ici */
}

#resultCount {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*style pour séparer les colonnes dans les capacités*/

.text-column {
    width: 50%;
    padding-right: 10px;
}